.root {
  display: flex;
  padding: 32px 0;
  align-items: center;
  column-gap: 12px;

  .pages {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 12px;

    li {
      background-color: #fff;
      padding: 8px 0;
      width: 42px;
      text-align: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;

      &.active {
        background-color: #ccc;
      }

      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
  }

  button {
    border: none;
    height: 42px;
    width: 42px;
    background: center / 50% no-repeat;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      filter: invert(1);
    }

    &:disabled {
      cursor: auto;
      filter: none;
      opacity: 0.4;
    }

    &.back {
      background-image: url('../../assets/images/arrow-left.svg');
    }

    &.forward {
      background-image: url('../../assets/images/arrow-right.svg');
    }
  }
}
