.root {
  position: relative;

  input {
    padding: 10px 40px 10px 50px;
    font-size: 20px;
    line-height: 24px;
    outline: 2px solid #ddd;
    border: none;
    width: 400px;

    &:focus {
      outline: 2px solid #888;
    }
  }
}

.icon {
  width: 32px;
  height: 32px;
  background: center / contain no-repeat;
  padding: 0;
  border: none;
  position: absolute;
  top: 6px;
  opacity: 0.5;

  &Search {
    background-image: url('../../assets/images/search.svg');
    left: 8px;
  }

  &Clear {
    background-image: url('../../assets/images/clear.svg');
    right: 8px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
