@import './variables.scss';
@import './_all.scss';

body {
  margin: 0;
  background-color: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 40px 48px;
  box-sizing: border-box;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
